<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>org.epn.estudiantes.controller.UsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductoCafeteriaController</servlet-name>
        <servlet-class>org.epn.estudiantes.controller.ProductoCafeteriaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoCafeteriaController</servlet-name>
        <url-pattern>/productos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MembresiaAsociacionController</servlet-name>
        <servlet-class>org.epn.estudiantes.controller.MembresiaAsociacionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MembresiaAsociacionController</servlet-name>
        <url-pattern>/membresias</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FacturaController</servlet-name>
        <servlet-class>org.epn.estudiantes.controller.FacturaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacturaController</servlet-name>
        <url-pattern>/factura</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ComentarioController</servlet-name>
        <servlet-class>org.epn.estudiantes.controller.ComentarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComentarioController</servlet-name>
        <url-pattern>/comentario</url-pattern>
    </servlet-mapping>
</web-app>
